html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: saddlebrown;
}
.login-form {
  width: 400px;
  height: 550px;
  padding: 20px;
  border-radius: 10px;
}
.card-title {
  font-weight: 900;
  padding-top: 20px;
}

.btn {
  transform: translateY(10px);
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
}
